:root {
  --green-color: #4caf4f;
  --primery-color: #28cb8b;
  --seccondry-color: #263238;
  --info-color: #2194f3;
  --grey-color: #717171;
  --white-color: #ffffff;
  --black-color: #263238;
  --silver-color: #f5f7fa;
  --tittle-color:#4D4D4D;
}
